# To add in a CODEOWNER, please add the following under the Global Rule line (remove the #):
# *           @your-username

# To add in multiple CODEOWNERS, please follow the following format:
# *           @username-1 @username-2

# Global rule:
